---
- name: Install dependencies
  ansible.builtin.apt:
    name:
      - git
      - zsh
    state: present
    update_cache: true
  become: true

- name: Clone oh-my-zsh for users
  ansible.builtin.git:
    clone: true
    depth: 1
    dest: "~{{ item.username }}/.oh-my-zsh"
    repo: https://github.com/robbyrussell/oh-my-zsh.git
    single_branch: true
  loop: "{{ oh_my_zsh_users }}"
  loop_control:
    label: "{{ item.username }}"
  become: true
  become_user: "{{ item.username }}"

- name: Set permissions of oh-my-zsh for users
  ansible.builtin.file:
    path: "~{{ item.username }}/.oh-my-zsh"
    mode: "go-w"
    recurse: true
  loop: "{{ oh_my_zsh_users }}"
  loop_control:
    label: "{{ item.username }}"
  become: true

- name: Set default shell for users
  ansible.builtin.user:
    name: "{{ item.username }}"
    shell: /bin/zsh
  loop: "{{ oh_my_zsh_users }}"
  loop_control:
    label: "{{ item.username }}"
  become: true

- name: Write .zshrc for users
  ansible.builtin.template:
    src: zshrc.j2
    dest: "~{{ item.username }}/.zshrc"
    backup: true
    mode: "u=rw,go=r"
  loop: "{{ oh_my_zsh_users }}"
  loop_control:
    label: "{{ item.username }}"
  become: true
  become_user: "{{ item.username }}"

- name: Install custom themes
  ansible.builtin.template:
    src: "{{ item.1 }}"
    dest: "~{{ item.0.username }}/.oh-my-zsh/custom/themes"
    mode: 0644
  with_nested:
    - "{{ oh_my_zsh_users }}"
    - "{{ lookup('fileglob', oh_my_zsh_custom_themes | d(''), wantlist=True) }}"
  when: oh_my_zsh_custom_themes is defined
  become: true
  become_user: "{{ item.0.username }}"
