---
- name: install dependencies
  become: yes
  package:
    name: '{{ item }}'
    state: present
  with_items:
    - git
    - zsh

- name: clone oh-my-zsh for users
  tags:
    # Suppress warning: [ANSIBLE0006] git used in place of git module
    # Git module doesn't allow us to set `core.autocrlf=input`.
    - skip_ansible_lint
  become: yes
  become_user: '{{ item.username }}'
  # core.autocrlf=input prevents https://github.com/robbyrussell/oh-my-zsh/issues/4402
  command: 'git clone -c core.autocrlf=input --depth=1 https://github.com/robbyrussell/oh-my-zsh.git .oh-my-zsh'
  args:
    chdir: '~{{ item.username }}'
    creates: '~{{ item.username }}/.oh-my-zsh'
  with_items: '{{ oh_my_zsh_users }}'

- name: set permissions of oh-my-zsh for users
  become: yes
  file:
    path: '~{{ item.username }}/.oh-my-zsh'
    # Prevent the cloned repository from having insecure permissions. Failing to do
    # so causes compinit() calls to fail with "command not found: compdef" errors
    # for users with insecure umasks (e.g., "002", allowing group writability).
    mode: 'go-w'
    recurse: yes
  with_items: '{{ oh_my_zsh_users }}'

- name: set default shell for users
  become: yes
  user:
    name: '{{ item.username }}'
    shell: /bin/zsh
  with_items: '{{ oh_my_zsh_users }}'

- name: write .zshrc for users
  become: yes
  become_user: '{{ item.username }}'
  template:
    src: zshrc.j2
    dest: '~{{ item.username }}/.zshrc'
    backup: yes
    mode: 'u=rw,go=r'
  with_items: '{{ oh_my_zsh_users }}'

- name: install custom themes
  become: yes
  become_user: '{{ item.0.username }}'
  template:
    src: "{{ item.1 }}"
    dest: '~{{ item.0.username }}/.oh-my-zsh/custom/themes'
  with_nested:
    - '{{ oh_my_zsh_users }}'
    - '{{ lookup("fileglob", oh_my_zsh_custom_themes) }}'
  when: oh_my_zsh_custom_themes is defined
